body{
    padding: 0;
    margin: 0;
}
pa sutable, th, td {
    border-collapse: collapse;
    width: 200px;
    height: 10px;
    
    
  }
  tr:nth-child(even){
    background-color: #D6EEEE;

  }
  th{
    color: rgb(87, 87, 107);
  }
  header{
    background: linear-gradient(to bottom, transparent, rgb(38, 35, 35)), url("mountain.png");
    background-size: cover;
    height: 100vh;
}