body{
 padding: 0;
 margin: 0;
}
header{
    background-color: white;
    width: 100%;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid;
    padding: 0px;
    box-shadow: -2px 5px #888888;

}

header h1{
    position: absolute;
    float: left;
    margin-left: 2%;
    color: #5777ba;
    font-family: 'Open Sans', sans-serif;
}

header ul li{
    display: inline-block;
    color: #5777ba;
    margin: 10px 20px;

}
header li:hover{
    color: blue;
}
header ul {
    width: auto;
    float: right;
  }

#start{
    padding: 10px 20px;
    background-color: #5777ba;
    border: 5px solid #5777ba;
    border-radius: 50px;
    color: white;
    outline: none;
    transition: .6s ease;
}


.nesto{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 500px;
    height: 475px;
    padding: 20px;
}
#text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    font-size: large;
}
#text h1{
    color: #47536e;

}

.italic{
    font-style: italic;
}



footer{
    background-color: #9e9e9e;
    color: black;
    padding: 3px;

}
.futer{
    padding: 8px 20px;
}
.bold{
    font-style: italic;
}
.boot{
    color: #2752b7;
}

footer ul {
    width: 15px;
    float: right;
}

footer ul{
    display: flex;
    justify-content: space-around;
    width: 15px;
    height: 15px;

}
